<footer class="mk-footer mt-5 pt-4 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h6 class="brand">Mawada's Kitchen</h6>
                <p class="small mb-0">Homemade with love — fresh dishes, sweet moments.</p>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Company</h6>
                <ul class="list-unstyled small">
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/careers">Careers</a></li>
                    <li><a routerLink="/policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-3">
                <h6>Get in touch</h6>
                <ul class="list-unstyled small">
                    <li><i class="fa fa-envelope mr-2"></i>hello&#64;mawadaskitchen.com</li>
                    <li><i class="fa fa-phone mr-2"></i>+20 100 000 0000</li>
                    <li>
                        <a href="#" class="mr-2"><i class="fa fa-instagram fa-lg"></i></a>
                        <a href="#" class="mr-2"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-center small border-top pt-2 mk-copy">
            © {{year}} Mawada's Kitchen — made with 💜
        </div>
    </div>
</footer>
